<h1>DOG!</h1>
<form action="/dogs/adddog" method="POST">
	<input type="text" placeholder="Name" name="name"/>
	<input type="text" placeholder="playfulness level" name="playfulness"/>
	<input type="text" placeholder="zipcode" name="power"/>
	<input type="submit" value="Submit!"/>
</form>