<<<<<<< HEAD
<!-- This is for the dog's profile.  It will have a pic, name, comments and other info
 add div with text in it as a placeholder for image -->
<div>
  <h2>Placeholder Text</h2>
</div>
=======
This is for the dog's profile.  It will have a pic, name, comments and other info
// add div with text in it as a placeholder for image

<h1>{{this.name}}</h1>
<div>
	<img src="{{this.picture}}">
</div>
<p>{{this.aboutMe}}</p>


Make a table element to hold the smaller data values for the dog.  Figure out how we want to organize the likes and dislikes.  THe data that is passed will be a string so we need to separate each like and dislike somehow
>>>>>>> dogprofile
