<!DOCTYPE html>
<html>
	<head>
		<title>Doggy Playdate Finder</title>
		<link rel="stylesheet" type="text/css" href="/styles/style.css">
		<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	</head>
	<body>
		{{{body}}}
	</body>
	<footer>
		<strong>Inspired by Starsky and Kirby</strong>
		{{!-- <img src="http://orig07.deviantart.net/41b9/f/2012/156/2/f/oc_cutie_mark_wolf_paw_print__by_husksummers-d52f8jk.png" alt="dog paw print"> --}}
	</footer>
</html>
