<!DOCTYPE html>
<html>
	<head>
		<title>Doggy Playdate Finder</title>
		<link href="https://fonts.googleapis.com/css?family=Rasa|Roboto" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/styles/style.css">
		<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	</head>
	<body>
		<ul>
			<li><a href="/user/login">Login</a></li>
			<li><a href="/user/signup">Signup</a></li>
			<li><a href="/dogs/home">My Home Page</a></li>
			<li><a href="/dogs/adddog">Add Another Dog</a></li>
			<li><a href="/user/logout">Sign Out</a></li>
		</ul>
		<div style="margin-left:25%; padding:1px 16px;">
			{{{body}}}
		</div>
		<script type="text/javascript" src="/js/app.js"></script>
	</body>
</html>
