<div id="login">
	<h1>Log In To Doggy Playdate Finder</h1>
	<form action="/user/login" method="POST">
		<div>
			<input type="text" name="username" placeholder="username"></input>
			<input type="text" name="password" placeholder="password"></input>
		</div>

		<input type="submit" value="Submit" id="submitButton"></input>
	</form>
</div>

{{message}}

<div id="notUser">
	<form action="/user/signup">
		<input type="submit" value="Register Now" id="submitButton"></input>
	</form>
<div>
