<h1>My Dogs</h1>
<br>
{{#each dogies}}
<div data-id="{{ this.id }}" class="dogContainer">
	<h2 class="dogName">{{this.name}}</h2>
	<img src="{{this.picture}}" alt="{{this.name}} picture">
</div>
{{/each}}
