body {
  background-image: url("http://www.publicdomainpictures.net/pictures/180000/velka/green-grass-1466178912W6l.jpg");
  background-color: #7cfc00;
  position: relative;
  text-align: center;
}
h1 {
  color: #0A7F0A;
}
footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  font-size: 20px;
}
.addDogInput {
  padding-top: 50px;
}
#imageLink {
  margin-top: 50px;
  width: 550px;
}
textarea {
  margin-top: 50px;
  height: auto;
}
#submitButton {
  margin-top: 50px;
  color: #0A7F0A;
  background-color: #7cfc00;
  font-size: 16px;
  border-radius: 12px;
}
::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #0A7F0A;
  text-align: center;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #0A7F0A;
  opacity: 1;
  text-align: center;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #0A7F0A;
  opacity: 1;
  text-align: center;
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #0A7F0A;
  text-align: center;
}
